/* Fuente personalizada */

@font-face {
    font-family: 'VA-11-HALL-A';
    src: url('fonts/VA.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Estilos generales y efectos varios (crt, gradientes para el fondo) */

body {
  font-family: 'VA-11-HALL-A', sans-serif;
  background: 
    radial-gradient(circle at 10% 10%, rgba(0, 77, 77, 0.4) 0%, transparent 50%),
    radial-gradient(circle at 90% 90%, rgba(94, 0, 47, 0.5) 0%, transparent 45%),
    linear-gradient(180deg, #030308 0%, #010103 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e03b82; 
  text-shadow: 
    0 0 3px rgba(154, 77, 190, 0.8),
    0 0 8px rgba(0, 229, 255, 0.4), 
    0 0 15px rgba(255, 0, 170, 0.4);
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  animation: crt-flicker 0.15s infinite;
}

/* Capa superior para las líneas de escaneo */

body::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
              linear-gradient(90deg, rgba(255, 0, 0, 0.04), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.04));
  background-size: 100% 4px, 6px 100%;
  z-index: 99999;
  pointer-events: none; 
}

/* Capa para el barrido de pantalla (cada 12s) */

body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;

  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0, 229, 255, 0.08) 10%, rgba(255,255,255,0) 11%);
  background-size: 100% 200%; 
  
  opacity: 1; 
  z-index: 99998;
  pointer-events: none;
  animation: crt-refresh 12s linear infinite;
}

/* Animaciones obligatorias para el funcionamiento de los efectos */

@keyframes crt-flicker {
  0% { opacity: 0.993; }
  50% { opacity: 1; }
  100% { opacity: 0.997; }
}

@keyframes crt-refresh {
  0% {
    background-position: 0 -100vh;
  }
  100% {
    background-position: 0 100vh;
  }
}

/* Cabecera */

hr {
    width: 80%;
    border:3px dashed #ffffff;
    margin: 4vh 0 2vh 0;
}

header h1 {
    font-size: 3.5rem;
    margin: 2rem 0 0.1rem 0;
}

header h4 {
    font-size: 1.25rem;
    margin: 0.1rem 0 3rem 0;
}

button {
    cursor: pointer;
}

/* Lista de navegación */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-cyberpunk {
    width: 7.5vw;
    height: 100%;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh auto;
}

.boton-cyberpunk:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Sección de bienvenida */

.bienvenida-cyberpunk {
    padding: 20px;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.bienvenida-cyberpunk h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #00e5ff;
}

.bienvenida-cyberpunk h3 {
    font-size: 1.3rem;
    line-height: 1.5;
    color: #ff007f;
}

.bienvenida-cyberpunk p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #ffffff;
}

.bienvenida-cyberpunk .lema {
    font-size: 1.25rem;
    font-style: italic;
    line-height: 1.5;
    margin-top: 40px;
    color: #ffff00;
    border-top: 2px dotted #ffff00;
    border-bottom: 2px dotted #ffff00;
    padding: 10px 0;
}

/* Sección de bebidas */

.bebidas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

.bebida-card {
    border: 10px double #ffffff;
    padding: 40px;
    text-align: center;
    transition: transform 0.15s ease-in-out;
    cursor: pointer;
}

.bebida-card:hover {
  transform: scale(1.1);
}

.bebida-card img {
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
}

/* Sección de contacto */

.contacto-flex {
    width: 65%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Parte izquierda */

.item1 {
    position: relative;
    font-size: 2rem;
    width: 50%;
    height: 100%;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.item1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/descarga.jpeg');
    opacity: 0.25; 
    z-index: 1;
}

.item1 h3 {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Parte derecha */

.item2 {
    font-size: 1.15rem;
    width: 50%;
    height: 100%;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item2 form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 5vw;
}

.form-inline {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
}

.form-grupo input {
    margin-top: 6px;
}

.item2 form input,
.item2 form select,
.item2 form textarea,
.item2 form button {
    width: 100%;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 6px;
}

.item2 form textarea {
    resize: none;
    height: 80px;
}

form button {
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
form button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Pie de página */

footer {
    padding: 10px;
    text-align: center;
}

/* Estilos únicos para reserva (reserva.html) */

.agradecimiento {
    font-size: 3.5rem;
}

.mensaje {
    font-size: 1.25rem;
    color: #00e5ff;
}

.mensaje2 {
    font-size: 1.25rem;
    color: #00e5ff;
}

.boton-cyberpunk {
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
}

.boton-cyberpunk:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Botón escondido */

#secreto {
  position: absolute;
  background: none;
  border: none;
  bottom: 0;
  right: 0;
}

/* Cambio de imagen y opacidad al hacer hover */

#secreto .img-activada {
  display: none;
}

#secreto .img-desactivada {
  opacity: 0.2;
}

#secreto:hover .img-desactivada {
  display: none;
}

#secreto:hover .img-activada {
  display: inline-block;
}

/* Capa del fondo oscuro */

.driver-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0;
  z-index: 99998;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Elemento que se resalta con el tour */

.driver-highlighted-element {
  position: relative !important;
  z-index: 99999 !important;
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.4);
}

/* Interfaz estilo VN */

#dorothy-vn-container {
  position: fixed;
  bottom: -450px; /* Escondida por debajo */
  right: 5%;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100000; /* Por encima de la capa oscura */
  transition: bottom 1s cubic-bezier(0.175, 0.885, 0.32, 1.1);
}

/* Clase para deslizar la caja hacia arriba */

#dorothy-vn-container.active {
  bottom: 25px;
}

/* Sprite de Dorothy */

.vn-sprite {
  width: 160px;
  height: 170px;
  margin-right: 40px;
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

/* Caja de diálogo */

.vn-dialog-box {
  width: 100%;
  background-color: #07070a;
  border: 3px dashed #ff007f;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 25px rgba(255, 0, 127, 0.3);
}

/* Nombre del personaje */

.vn-name {
  color: #00ffff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Contenido de la caja (texto y botón) */

.vn-content-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

/* Texto del contenedor */

.vn-text {
  color: #e2e2ff;
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  flex-grow: 1;
}

/* Botón del contenedor */

.vn-next-btn {
  background-color: #00ffff;
  color: #000000;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.vn-next-btn:hover {
  background-color: #ffffff;
}
